<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="ds0" type="DistanceSensor">
            <ros>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="ds1" type="DistanceSensor">
            <ros>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="back_sensor" type="DistanceSensor">
            <ros>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="wall_following.my_robot_driver.MyRobotDriver" />
    </webots>
</robot>